{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'stable.css' %}">
    </head>
    <body>
        <table border>
            <tr>
                <th> Name </th>
                <th> USN </th>
                <th> Marks </th>
            </tr>
            <tr>
                <td> Ina </td>
                <td> 4JN22AI019 </td>
                <td> 80 </td>
            </tr>
            <tr>
                <td> Mina </td>
                <td> 4JN22AI020 </td>
                <td> 70 </td>
            </tr>
            <tr>
                <td> Tina </td>
                <td> 4JN22AI021 </td>
                <td> 82 </td>
            </tr>
        </table>
    </body>
</html>