<!DOCTYPE html>
<html>
    <body>
        <style>
            body{
                background-color:lightblue;
            }
            h3{
                color: aliceblue;
            }
        </style>
        <h1>WELCOME TO CEC</h1>
        <p>This page contains a footer in a template.</p><br><h2>Think I only want one number in my phone
            I might change your contact to "don't leave me alone"<br>
            You said you like my eyes and you like to make 'em roll<br>
            Treat me like a queen, now you got me feelin' thrown, oh<br>
            But I can't help myself<br>
            When you get close to me<br>
            Baby, my tongue goes numb<br>
            Sounds like bleh, blah, blee<br>
            I don't want no one else (don't want)<br>
            Baby, I'm in too deep<br>
            Here's a lil' song I wrote (a song I wrote)<br>
            It's about you and me (me)<br>
            I'll be honest<br>
            Lookin' at you got me thinkin' nonsense<br>
            Cartwheels in my stomach when you walk in<br>
            And when you got your arms around me<br>
            Ooh, it feels so good I had to jump the octave<br>
            I think I got an ex but I forgot him<br>
            And I can't find my chill, I must have lost it<br>
            I don't even know I'm talkin' nonsense<br>
            I'm talkin', I'm talkin' (ah)</h2>
        {% include 'footer.html' %}
    </body>
</html>